<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Alberto</title>
        {% load static %}
        {% load fontawesome_5 %}

        {% fontawesome_5_static %}

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/css/uikit.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit-icons.min.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- jQuery -->
            <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" type="text/javascript"></script>

            <!-- nanogallery2 -->
            <link  href="https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/css/nanogallery2.min.css" rel="stylesheet" type="text/css">
            <script  type="text/javascript" src="https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/jquery.nanogallery2.min.js"></script>

    </head>
    <body>
        <div class="uk-container" style="z-index: 1">

            <img width="300" height="300" class="uk-align-center uk-margin-large-top" src="media/{{ global_preferences.general__GalleryLogo }}" alt="Logo"/>
            {% if images %}
                <div id="my_nanogallery2" data-nanogallery2 data-nanogallery2='{
                "thumbnailHeight": "auto",
                "thumbnailWidth":  200
              }'>
                  {% for image in images %}
                      <a href="{{ image.source.url }}" data-ngthumb="{{ image.source.url }}"></a>
                  {% endfor %}
                </div>

                <script>
                $("#my_nanogallery2").nanogallery2({
                  galleryTheme: {
                    thumbnail : { background:'#FFF', borderColor: '#FFF' }
                  }
                });
                 </script>
            </div>
            {% endif %}
        </div>
    </body>
</html>

{% block content %}



{% endblock %}