{% extends "index.html" %}
{% block content %}


    {% if videos %}
        <h3 class="uk-light uk-text-center uk-margin-large-top" style="margin-bottom: 5px">VIDEOS</h3>
        <div style="background: white; width: 60px; height: 2px; margin: auto " class="uk-margin-medium-bottom"></div>


        <div class="uk-child-width-1-3@l uk-child-width-1-2@m uk-margin-top uk-text-center uk-light uk-flex-center" style="margin-top: 20px" uk-grid>

            {% for video in videos %}
                <div class="uk-width-auto" data-aos="zoom-out" data-aos-duration="1500" style="display: inline-block">
                    <div style="border: 4px solid white; padding: 20px;" class="uk-card uk-card-body uk-text-emphasis">
                         <iframe style="border: 4px solid white; background-color: black;"
                            src="{{ video.link }}" allowfullscreen>
                            </iframe>

                        <h4 style="margin-top: 10px; margin-bottom: 0">{{ video.title }}</h4>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="uk-container uk-text-center uk-margin-bottom uk-light uk-margin-top">
            <h5 style="display: inline; vertical-align: middle" class="uk-margin-ri">See more on </h5>
            <a class="social_link uk-margin-right" target="_blank" style="vertical-align: middle" href="https://www.youtube.com/channel/UCWySpCerULfx_Pq72eQtjIg"><i class="fab fa-youtube"></i></a>
        </div>
    {% endif %}
    {% if photos %}
        <h3 class="uk-light uk-text-center uk-margin-large-top" style="margin-bottom: 5px">PICTURES</h3>
        <div style="background: white; width: 60px; height: 2px; margin: auto " class="uk-margin-medium-bottom"></div>


        <div class="uk-child-width-1-3@l uk-child-width-1-2@m uk-margin-top uk-text-center uk-light uk-flex-center" style="margin-top: 20px" uk-grid>
            {% for photo in photos %}
                <div class="uk-width-auto" data-aos="flip-up" data-aos-duration="1500">
                    <div style="border: 4px solid white; padding: 10px;" class="uk-card uk-card-body uk-text-emphasis">
                        <img style="border: 4px solid white; object-fit:cover; width: 320px; height: 180px" src="{{ photo.source.url }}" >
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="uk-container uk-text-center uk-margin-bottom uk-light uk-margin-top" data-aos="fade-up" data-aos-duration="1500">
            <a class="uk-button uk-button-default uk-margin-top" href="/gallery" target="_blank">SEE MORE</a>
        </div>

    {% endif %}

    <h3 data-aos="zoom-in" data-aos-duration="1500" class="uk-light uk-text-center" style="margin-bottom: 5px" id="services">MY SERVICES</h3>
    <div data-aos="zoom-in" data-aos-duration="1500" style="background: white; width: 60px; height: 2px; margin: auto"></div>

            {% if services %}

                <div class="uk-child-width-1-3@m uk-child-width-1-2@s uk-child-width-1-4@l uk-margin uk-text-center uk-light uk-flex-center" uk-grid>

                    {% for service in services %}
                        <div data-aos="flip-right" data-aos-duration="1500">
                            <div style="border: 5px solid white; padding: 20px;" class="service uk-card uk-card-large uk-card-body uk-text-emphasis">
                                <p style="font-size: 3em">{{ service.icon.as_html }}</p>
                                <p style="margin-bottom: 5px">{{ service.title }}</p>
                                <div style="background: white; width: 60px; height: 2px; margin: auto"></div>
                                <p class="uk-text-center">{{ service.description }}</p>
                                {% if service.has_video %}
                                    <div  width="270" height="158">
                                    <iframe width="270" height="158" style="border: 4px solid white"
                                    src="{{ service.demo_video }}" allowfullscreen>
                                    </iframe>
                                    </div>
                                {% endif %}
                                {%if service.has_price %}
                                <h2>{{ service.price }}</h2>
                                {%endif%}
                            </div>
                        </div>
                    {% endfor %}

                </div>

            {% endif %}

            {% if brands %}
                <h3 class="uk-light uk-text-center uk-margin-large-top" style="margin-bottom: 5px" data-aos="zoom-in" data-aos-duration="1500" >MARCAS QUE CONFÍAN</h3>
                <div style="background: white; width: 60px; height: 2px; margin: auto " class="uk-margin-medium-bottom" data-aos="zoom-in" data-aos-duration="1500" ></div>


                <div class="uk-child-width-1-3@l uk-child-width-1-2@m uk-margin-top uk-text-center uk-light uk-flex-center" style="margin-top: 20px" uk-grid>
                    {% for brand in brands %}
                        <div class="uk-width-auto" data-aos="flip-up" data-aos-duration="1500">
                            <div class="uk-card uk-card-body uk-text-emphasis">
                                <img style="object-fit:cover; width: 320px; height: 180px" src="{{ brand.source.url }}" >
                            </div>
                        </div>
                    {% endfor %}
                </div>

            {% endif %}

            <h3 data-aos="zoom-in" data-aos-duration="1500" class="uk-light uk-text-center" style="margin-bottom: 5px" id="contact">CONTACT ME</h3>
            <div data-aos="zoom-in" data-aos-duration="1500" style="background: white; width: 60px; height: 2px; margin: auto"></div>

            <form data-aos="fade-right" data-aos-duration="1500" style="margin-top: 30px; margin-bottom: 30px" class="uk-container uk-width-1-2@s" method="post" action="/contact">
                {% csrf_token %}
                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        <input type="text" class="uk-input" placeholder="Name" name="name">
                    </div>
                    <div class="uk-margin">
                        <input type="text" class="uk-input" placeholder="Email" name="email">
                    </div>
                    <div class="uk-margin">
                        <select type="text" class="uk-select" placeholder="Contact reason" name="reason">
                            {% for contact in contact_reasons %}
                                <option>{{ contact.title }}</option>
                            {% endfor %}
                            <option>Otro</option>
                        </select>
                    </div>
                    <div class="uk-margin">
                        <textarea type="text" class="uk-textarea uk-height-small" placeholder="Message" name="message"></textarea>
                    </div>

                    <div class="uk-text-center">
                        <input type="submit" class="uk-button uk-button-default uk-light" value="SEND"/>
                    </div>

                </fieldset>
            </form>

        {% if networks %}
            <div class="uk-container uk-text-center uk-margin-bottom" > 
                {% for network in networks %}
                    <a class="social_link uk-margin-right" target="_blank" href="{{ network.link }}">{{ network.icon.as_html }}</a>
                {% endfor %}
            </div>
        {% endif %}
{% endblock %}