<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Alberto</title>
        {% load static %}
        {% load fontawesome_5 %}

        {% fontawesome_5_static %}

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/css/uikit.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit-icons.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>

        <div class="foreground"></div>
        <div class="uk-container">
            <div class="uk-navbar-container uk-navbar-transparent uk-light" uk-navbar>
                <ul class="uk-navbar-nav uk-navbar-center">
                    <li class=""><a href="">INICIO</a></li>
                    <li><a href="">FOTOS</a></li>
                    <li class="uk-active"><a href="">SOBRE MÍ</a></li>
                    <li>
                        <a href="#"><i class="fas fa-globe-europe"></i></a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">es</a></li>
                                <li><a href="#">en</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            {% block content %}

            {% endblock %}
        </div>

    </body>
</html>