<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Alberto</title>
        {% load static %}

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/css/uikit.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit-icons.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">


    </head>
    <body>

        <div class="foreground"></div>
        <div class="uk-container">
            <div class="uk-navbar-container uk-navbar-transparent uk-light" uk-navbar>
                <ul class="uk-navbar-nav uk-navbar-center">
                    <li class="uk-active"><a href="">INICIO</a></li>
                    <li><a href="">FOTOS</a></li>
                    <li><a href="">VIDEOS</a></li>
                </ul>
            </div>

            <h1 style="font-size: 3em" class="uk-text-center uk-light">Alberto</h1>
            <p class="uk-text-small uk-text-justify uk-width-1-2@s" style="margin: auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

            <h3 class="uk-light uk-text-center" style="margin-bottom: 5px">MIS SERVICIOS</h3>
            <div style="background: white; width: 60px; height: 2px; margin: auto"></div>

            <div class="uk-child-width-1-3@m uk-margin uk-text-center uk-light" uk-grid>

                <div>
                    <div style="border: 5px solid white; padding: 20px;" class="uk-card uk-card-body">
                        <p style="font-size: 3em"><i class="fas fa-photo-video"></i></p>
                        <p style="margin-bottom: 5px">Videos píldora de instagram</p>
                        <div style="background: white; width: 60px; height: 2px; margin: auto"></div>
                        <p class="uk-text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley .</p>
                        <h2>30€</h2>
                    </div>
                </div>

                <div>
                    <div style="border: 5px solid white; padding: 20px;" class="uk-card uk-card-body">
                        <p style="font-size: 3em"><i class="fas fa-photo-video"></i></p>
                        <p style="margin-bottom: 5px">Videos píldora de instagram</p>
                        <div style="background: white; width: 60px; height: 2px; margin: auto"></div>
                        <p class="uk-text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley .</p>
                        <h2>30€</h2>
                    </div>
                </div>

                <div>
                    <div style="border: 5px solid white; padding: 20px;" class="uk-card uk-card-body">
                        <p style="font-size: 3em"><i class="fas fa-photo-video"></i></p>
                        <p style="margin-bottom: 5px">Videos píldora de instagram</p>
                        <div style="background: white; width: 60px; height: 2px; margin: auto"></div>
                        <p class="uk-text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley .</p>
                        <h2>30€</h2>
                    </div>
                </div>

                <div>
                    <div style="border: 5px solid white; padding: 20px;" class="uk-card uk-card-body">
                        <p style="font-size: 3em"><i class="fas fa-photo-video"></i></p>
                        <p style="margin-bottom: 5px">Videos píldora de instagram</p>
                        <div style="background: white; width: 60px; height: 2px; margin: auto"></div>
                        <p class="uk-text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley .</p>
                        <h2>30€</h2>
                    </div>
                </div>

                <div>
                    <div style="border: 5px solid white; padding: 20px;" class="uk-card uk-card-body">
                        <p style="font-size: 3em"><i class="fas fa-photo-video"></i></p>
                        <p style="margin-bottom: 5px">Videos píldora de instagram</p>
                        <div style="background: white; width: 60px; height: 2px; margin: auto"></div>
                        <p class="uk-text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley .</p>
                        <h2>30€</h2>
                    </div>
                </div>

            </div>
            <h3 class="uk-light uk-text-center" style="margin-bottom: 5px">CONTÁCTAME</h3>
            <div style="background: white; width: 60px; height: 2px; margin: auto"></div>

        </div>

    </body>
</html>